.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-form {
	width: 300px;
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
	margin-bottom: 2rem;
	text-align: center;
}
